# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.DL/
.DL_env/

# VS Code settings
.vscode/

# Data files
*.h5
*.h5ad
*.csv
*.tsv
*.xlsx
*.zip
*.tar.gz
*.npz
*.png
*.txt
*.pdf
*.pt

# Logs
*.log
